# --- Docker Hub ---
DOCKERHUB_USER=TU_USUARIO_DOCKERHUB
TAG=latest

# --- Backend (EC2 privada) ---
# Reemplaza por la IP privada o el DNS privado de tu EC2 Backend.
VENTAS_URL=http://IP_PRIVADA_BACKEND:8080
DESPACHOS_URL=http://IP_PRIVADA_BACKEND:8081

